.navbar {
  background-color: white;
  display: block;
  padding: 0.5em 1em;
  margin-top: 10px;
  margin-bottom: 0;
}

.navbar-logo {
  height: 38px;
  filter: invert(97%) sepia(46%) saturate(6016%) hue-rotate(128deg)
    brightness(94%) contrast(100%);
  float: left;
  margin: 0 10px 0 0;
}

.navbar h1 {
  font-size: 2em;
  letter-spacing: 0.8rem;
  margin: 0.6em 0 0.3em 0;
  display: inline-block;
  font-family: 'Yeseva One', cursive;
  font-style: italic;
}

.navbar-links {
  margin: 0;
  margin-left: 600px;
  padding-top: 20px;
  display: flex;
}

.navbar-links-list {
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}

.navbar-links-item {
  margin: 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  padding: 0.3125rem 0.75rem;
  padding-left: 0;
}

.navbar-links-item a {
  text-decoration: none;
  color: white;
  background-color: #190933;
  padding: 12px;
  border-top-right-radius: 10px;
}

.navbar-links-item :hover,
.navbar-links-item--active {
  background-color: #3e3e92;
  color: white;
}

@media screen and (min-width: 768px) {
  .navbar-logo {
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-logo {
    height: 50px;
    max-width: 160px;
  }
}

@media (max-width: 600px) {
  .navbar {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 6px;
    padding: 0;
  }
  .navbar-links {
    margin-left: 0;
  }
}
