.navbar {
  background-color: white;
  display: block;
  padding: 0.5em 1em;
  margin-top: 10px;
  margin-bottom: 0;
  width: 80vw;
}

.navbar-logo-h1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 13px 120px -54px 1px;
}

.navbar-logo {
  margin-left: 245px;
  margin-top: 10px;
  height: 84px;
}

.navbar h1 {
  font-size: 2em;
  letter-spacing: 0.8rem;
  font-family: "Yeseva One", cursive;
  font-style: italic;
  padding-left: 19px;
}

.icons {
  float: left;
  margin-top: -30px;
}

.icons img {
  margin-left: 30px;
  height: 40px;
  margin-top: 7px;
  padding: 2px 2px 2px 10px;
}

.navbar-links {
  margin: 0;
  margin-left: 244px;
  padding-top: 20px;
  display: flex;
}

.navbar-links-list {
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
}

.navbar-links-item {
  margin: 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  padding: 0.3125rem 0.75rem;
  padding-left: 0;
}

.navbar-links-item a {
  text-decoration: none;
  color: white;
  background-color: #190933;
  padding: 12px;
  border-top-right-radius: 10px;
}

.navbar-links-item :hover,
.navbar-links-item--active {
  background-color: #3e3e92;
  color: white;
}
/* iPad */
@media screen and (min-width: 768px) {
  .navbar-logo {
    height: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-logo {
    height: 84px;
    max-width: 160px;
  }
}

@media (max-width: 600px) {
  .navbar {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 6px;
    padding: 0;
  }
  .navbar-links {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .navbar-links-item {
    display: inline;
    padding: 1px;
  }

  .navbar-logo {
    margin-top: 10px;
    margin-left: 30px;
    height: 38px;
    /* filter: invert(97%) sepia(46%) saturate(6016%) hue-rotate(128deg)
      brightness(94%) contrast(100%); */
    float: left;
  }

  .icons {
    display: inline;
    margin-left: 10px;
  }

  .icons img {
    margin-left: 20px;
  }
}
