
.search-form-container {
  list-style-type: none;
  /* padding: 0; */
  border-radius: 3px;
  font-family: "Montserrat";
  letter-spacing: 0.1rem; 
  /* display: flex;  */
  /* flex-direction: column;
  align-items: flex-end; */
  margin-top: -2px;
  margin-left: 93px;
  margin-right: 93px;
  padding: 20px; 
  padding-right: 150px;
 background-image: url("../assets/searchflight-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(62, 62, 146);
  width: 70vw;
  height: 70vh;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black; 
    /* padding-right: 1100px; */

}



.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}
.form-row > label {
  padding-right: .5em ;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid white;
  border-radius: 4px;
}

.form-row > input {
  flex: 1;
}
.form-row > input,
.form-row > button {
  padding: .5em;
  font-family: "Montserrat";
  letter-spacing: 0.1rem;
  border-radius: 4px;
  margin: 5px;
 
}
.form-row > button {
 background:  rgb(62, 62, 146);
 color: white;
 border-radius: 4px;
 border: none;
 padding: .5em;
}

/* .new-div {
   display: block;
  align-items: center; 
   display: flex;
    justify-content: flex-end; 
} */

/* .search-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-content: center;
  margin-right: 200px;
  margin-top: 10px;
} */

/* form {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  align-items: center;
} */

/* .search-form-container input {
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
  width: fit-content;
  text-align: left;
  margin-left: 15px;  
  flex: 1 1 auto; */
    /* width: 212px; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-end; */
  
/* } */
/* .input-box {
  display: flex;
  justify-content: flex-end;
} */
/* 
.origin-input-box {
  display: inline-block; 
 padding: 5px;
}

.dep-date-input-box {
  display: inline-block;
  padding: 5px;
 
}

.ret-date-input-box {
  display: inline-block;
  padding: 5px;

} */

/* .form-label {
 
  padding: 5px;
  text-align: left;
  margin-left: 15px; 
} */

@media (max-width: 600px) {
  .search-form-container {
    margin: 0;
  }

  .search-form {
    width: 600px;
  }
} 
